body{
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
}
#game {
	position: absolute;
	left: 0;
	top : 0;
	background-color: rgb(30,30,30);
	font-family: Georgia;
	font-size: 40px;
	width: 8em;
	height: 12em;
	color: rgb(200,200,100);
}
#game .screen{
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 10;
}
#game .screen.active {
	display: block;
}

#splash-screen {
	text-align: center;
	padding-top: 2.5em;
}
#splash-screen .continue {
	cursor: pointer;
	font-size: .75em;
}
.logo {
	/*font-family: "Franklin Gothic Heavy"; */
	font-size : 1.5em;
	line-height : 0.9em;
	text-shadow : 0.03em 0.03em 0.03em
	rgb(255,255,0),
	-0.03em -0.03em 0.03em rgb(255,255,0),
	0.10em 0.15em 0.15em rgb(0,0,0);
	margin : 0;
	text-align: center;
	color: rgb(70,120,20);

}
.no-textshadow .logo {
	filter: dropshadow(color=#000,offX=3,offY=3);
}
#main-menu {
	padding-top: 1em;
}
ul.menu {
	text-align: center;
	padding : 0;
	margin: 0;
	list-style: none;
}
ul.menu li {
	margin: 0.8em 0;
}
ul.menu li button {
	font-size: 0.6em;
	color:rgb(100,120,0);
	width: 10em;
	height: 1.5em;
	background: rbg(10,20,0);
	border: 0.1em solid rgb(255,255,0);
	-webkit-box-shadow: 0.2em 0.2em 0.3em rgb(0,0,0);
	-moz-box-shadow: 0.2em 0.2em 0.3em rgb(0,0,0);
	box-shadow: 0.2em 0.2em 0.3em rgb(0,0,0);
}
ul.menu li button:hover{
	background: rgb(30,40,0);
}
ul.menu li button:active {
	color: rgb(255,255,0);
	background: rgb(30,40,0);
}

/* Install screen for iOS devices*/
#install-screen {
	padding-top: 0.5em;
	text-align : center;
}
#install-screen span {
	font-size : 0.75em;
	display : inline-block;
	padding: 0 0.5em;
}

